<ng-container *ngIf="logged">
   <ng-container *ngIf="vacancies">
      <h1>Ваши заявки {{username}}</h1>
      <div class="card-grid">
         <div *ngFor="let vacancy of vacancies let i =index"  class="card">
             <div class="card-header">
               <h2 class="name">{{vacancy.direction}}</h2>
               <!-- <p class="direction">{{vacancy.companyName}}</p> -->
             </div>
             <div class="card-body">
               <p class="description">{{vacancy.description}}</p>
             </div>
             <div>
              <ng-container *ngIf="logged">
                <button style="background-color: #333; color:white;" (click)="deleteVacancy(vacancies[0].id)" type="submit" class="btn">Убрать заявку</button>
            </ng-container>
             </div>
           </div>
         </div>
   </ng-container>
</ng-container>
<router-outlet></router-outlet>