<body>
    <div class="card">
        <div class="card-header">
          <h2 class="name">{{vacancies[0].name}}</h2>
          <p class="direction">{{vacancies[0].direction}}</p>
         
        </div>
        <div class="card-body">
          <p class="">{{vacancies[0].company}}</p>
          <p class="description">{{vacancies[0].description}}</p>
        </div>
        <ng-container *ngIf="logged">
            <button style="background-color: #333; color:white;" (click)="submit(vacancies[0].id)" type="submit" class="btn">Подать заявку</button>
        </ng-container>
    </div>
    <div class="card-grid">
    <div *ngFor="let vacancy of vacancies.slice(1),let i =index"  class="card">
        <div class="card-header">
          <h2 class="name">{{vacancy.name}}</h2>
          <p class="direction">{{vacancy.direction}}</p>
         
        </div>
        <div class="card-body">
          <p class="">{{vacancy.company}}</p>
          <p class="description">{{vacancy.description}}</p>
        </div>
        <ng-container *ngIf="logged">
            <button style="background-color: #333; color:white;" (click)="submit(vacancies[0].id)" type="submit" class="btn">Подать заявку</button>
        </ng-container>
      </div>
    </div>
</body>

<router-outlet></router-outlet>